<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">


</head>

<body>

    <div class="container"></div>
    <div class="custom-nav">
        <a href="/">
            <h1>The Advanced Web Developer Bootcamp</h1>
        </a>
    </div>
    {% block content %}{% endblock %}
    </div>

</body>


</html>