{% extends "base.html" %} {% block content %}

<h2>Section 2: CSS Animation: Trasnform and Transition</h2>
<ul>
    <li>
        <a href="{{url_for('chap20.transition')}}">
            <h3>Chapter - 20 Transition</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap21.trans_timing_func')}}">
            <h3>Chapter - 21 Transition Timing Functions</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap24.animated_gallery')}}">
            <h3>Chapter - 24 An Animated Gallary</h3>
        </a>
    </li>
</ul>

<h2>Section 3: CSS Animation: Keyframes</h2>
<ul>
    <li>
        <a href="{{url_for('chap26.keyframes1')}}">
            <h3>Chapter - 26 Keyframes-I</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap29.raising_setting_sun')}}">
            <h3>Chapter - 29 Raising and Setting Sun</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap31.loadingicon')}}">
            <h3>Chapter - 31 Loading Icon</h3>
        </a>
    </li>
</ul>
<h2>Section 4: CSS Layout: Flexbox</h2>
<ul>
    <li>
        <a href="{{url_for('chap39.flexboxI')}}">
            <h3>Chapter - 39 Flexbox Sidebar</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap43.flexnavbar')}}">
            <h3>Chapter - 43 Flexbox Navbar</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap50.holygraillayout')}}">
            <h3>Chapter - 50 Holy Grail Layout </h3>
        </a>
    </li>

</ul>

<h2>Section 5: Project: Building a startup site</h2>
<ul>
    <li>
        <a href="{{url_for('chap55.index')}}">
            <h3>Chapter - 55 Project</h3>
        </a>
    </li>
</ul>

<h2>Section 7: AJAX Part I: XHR and Fetch</h2>
<ul>
    <li>
        <a href="{{url_for('chap75.firstRequest')}}">
            <h3>Chapter - 75 First Request with XMLHTTPRequest</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap76.randomDogImage')}}">
            <h3>Chapter - 76 Random Image App</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap77.bitcoinprice')}}">
            <h3>Chapter - 77 Bitcoin Price</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap79.firstfetchreq')}}">
            <h3>Chapter - 79 First Fetch Request</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap81.fetcherrorhandling')}}">
            <h3>Chapter - 81 Fetch Error Handling</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap82.randomuser')}}">
            <h3>Chapter - 82 Random User Generator </h3>
        </a>
    </li>
</ul>
<h2>Section 8: AJAX Part II: JQuery and Axios</h2>
<ul>
    <li>
        <a href="{{url_for('chap89.randomcatimgs')}}">
            <h3>Chapter - 89 Random Cat Images with JQuery</h3>
        </a>
    </li>
</ul>



</div>

{% endblock %}