{% extends "base.html" %} {% block content %}

<h2>Section 2: CSS Animation: Trasnform and Transition</h2>
<ul>
    <li>
        <a href="{{url_for('chap20.transition')}}">
            <h3>Chapter - 20 Transition</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap21.trans_timing_func')}}">
            <h3>Chapter - 21 Transition Timing Functions</h3>
        </a>
    </li>
    <li>
        <a href="{{url_for('chap24.animated_gallery')}}">
            <h3>Chapter - 24 An Animated Gallary</h3>
        </a>
    </li>
</ul>

<h2>Section 3: CSS Animation: Keyframes</h2>
<ul>
    <li>
        <a href="{{url_for('chap26.keyframes1')}}">
            <h3>Chapter - 26 Keyframes-I</h3>
        </a>
    </li>
</ul>



</div>

{% endblock %}