{% extends "base.html" %} {% block content %}

<h3>Chapter - 39 Flexbox Sidebar</h3>
<div class="flex-sidebar-container">
    <!-- This section shoudl be at the top-->
    <div class="section">
        <div class="sidebar-item">Messages</div>
        <div class="sidebar-item">Friends</div>
        <div class="sidebar-item">User Profile</div>
    </div>
    <!-- This section should be at the botto -->
    <div class="section">
        <div class="sidebar-item">Settings</div>
        <div class="sidebar-item">Questions?</div>
    </div>
</div>
{% endblock %}