body {
    background-color: beige;
}

.box {
    background-color: brown;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

.animated {
    transform-origin: bottom right;
    transition-duration: 0.3s;
    transition-property: all;
}

.box:hover {
    transform-origin: bottom right;
    background-color: cadetblue;
    transform: scale(2) rotate(135deg);
    border-radius: 50%;
}