@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
    background-color: beige;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.box {
    background-color: brown;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

.animated {
    transform-origin: bottom right;
    transition-duration: 0.3s;
    transition-property: all;
}

.box:hover {
    transform-origin: bottom right;
    background-color: cadetblue;
    transform: scale(2) rotate(135deg);
    border-radius: 50%;
}


/* Chpater-21 */

.trans_box {
    background-color: brown;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

.trans_box:hover {
    transform: translateX(300px);
}

.animated_timing_func {
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
}


/* chapter - 24 */

div.item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.item i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    transform: translate(-50%, -50%) scale(0);
}

div.item * {
    box-sizing: border-box;
    transition: all .35s ease-in-out;
}

div.red {
    background-color: red;
}

div.green {
    background-color: green;
}

div.blue {
    background-color: blue;
}

img {
    width: 100%;
}

div.item:hover {
    cursor: pointer;
}

div.item:hover img {
    opacity: 0.5;
    filter: grayscale(100%);
}

div.item:hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* chapter 26 */

@keyframes rainbowtext {
    0% {
        color: red;
        font-size: 20px;
    }
    25% {
        color: orange
    }
    50% {
        color: yellow;
        font-size: 40px;
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
        font-size: 20px;
    }
}

.keyframes1_p {
    animation: rainbowtext;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
}


/* chapter 29 */

.sky {
    width: 100%;
    height: 70%;
    background-color: gray;
    /* animation */
    animation-name: skyanimation;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.sun {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: orange;
    top: 70%;
    /* animation */
    animation-name: sunanimation;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes sunanimation {
    0% {
        transform: translate(0, 50px);
    }
    50% {
        transform: translate(600px, -350px);
        background-color: yellow;
    }
    100% {
        transform: translate(1200px, 50px);
        background-color: red;
    }
}

@keyframes skyanimation {
    0% {
        background-color: rgb(46, 45, 45);
    }
    10% {
        background-color: peachpuff;
    }
    30% {
        background-color: lightblue;
    }
    70% {
        background-color: lightblue;
    }
    90% {
        background-color: peachpuff;
    }
    100% {
        background-color: rgb(46, 45, 45);
    }
}


/* chapter 31 */

.loader {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 16px solid #c8e6d0;
    border-top-color: #4c9c61;
    border-bottom-color: #51c9c1;
    border-radius: 50%;
    /* animation */
    animation-name: loaderanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loaderanimation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}